body {
	color: blue;
	border: 1px solid #000;
	width: 500px;
}

p {
	color: inherit;
	border: inherit;
}
.class1
{
	border-color: blue;
}
.article  p {
	color: red;
}
<!----- Navbar------->
<!-- End -->